/* .bg{
    background-image: url('https://img.freepik.com/premium-vector/fatty-men-diet-trying-control-body-weight-with-bmi-body-mass-index-control_530733-3467.jpg?w=2000');
    background-size: cover;
 
} */

.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem
}
.col2{
    background-color:rgb(132, 170, 246);
}